<div class="flex-wrap justify-center mt-16 ">
  <div [formGroup]="signUpForm" class="space-y-10 bg-gray-50 p-10 w-[480px] mx-auto">
    <div class="flex-col space-y-2 text-center">
      <div class="font-bold text-2xl">Let’s Get Started</div>
      <div class="font-semibold text-md">Create an account and get the Deals & Promotions news</div>
    </div>


    <nz-divider nzText="Or Sign Up with"></nz-divider>

    <div class="[&_label]:font-semibold text-md space-y-5">
      <div class="space-y-1">
        <label>Email</label>
        <input nz-input nzSize="large" placeholder="example@gmail.com" formControlName="email" type="text" />
      </div>

      <div class="space-y-1">
        <label>Phone</label>
        <input nz-input nzSize="large" placeholder="Your Number" formControlName="phone" type="number" maxlength="11"/>
      </div>

      <div class="space-y-1">
        <label>Password</label>
        <input nz-input nzSize="large" placeholder="Your Password" formControlName="password" type="password" />
      </div>

    </div>

    <div class="flex justify-center">
      <button nz-button nzSize="large" (click)="submitSignUp()" [disabled]="signUpForm.invalid">Sign Up</button>
    </div>

    <div class="text-center">
      Already have an account?
      <a [routerLink]="['/login']" class="text-sky-500 font-semibold">Sign In</a>
    </div>
  </div>
</div>

